
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<h1>From Employee COntroller</h1>


@DateTime.Now

@{
    var n = 10;
    for (int i = 1; i < n; i++)
    {
        <h1>@i</h1>
    }
    if (4 > 7)
    {
        <h2>Greater</h2>
    }
    else
    {
        <h2>Lesser</h2>
    }
    @helper myHelper(List<string> Names) { 

    @Html.ActionLink("CLick","ShowEmployee",new {id=2})
    @Html.TextBox("Name","Name")

    foreach (var str in Names)
    {
        <h2>@str</h2>
    }
}
    @myHelper(new List<string>() { "Manish", "Guru" });
}


@{Html.RenderPartial("_Card");}
@Html.Partial("_Card")